{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}
{% block body %}
	<link href="//fonts.googleapis.com/css?family=Roboto|Open+Sans:200,300,400,700,800,900&amp;subset=latin" rel="preload" as="font">

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div style="text-align: center">
		<h1>About Me !<hr/></h1>
	</div>

	<body>
		<header class="article__header  article__header--page two-thirds-height">
			<div class="flexbox">
				<div class="flexbox__item">
					<div></div>
					<h6>hard working, Agile with enthusiast for science and technology</h6>
					<img src="{{ asset('image/saad.jpg') }}" alt="">
					<div>
						<div>
							<div>
								<div>
									<div>
										<p>I'm at your disposal for any further enquiries or questions. Hope to hear from you soon &nbsp;</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div>
			<div style="text-align: center">
				<h6>email</h6>
				<a href="mailto:saadmoh99@gmail.com">saadmoh99@gmail.com</a><br><br><br>
				<h6>Phone number</h6>
				<a href="tel:+33601642185">(+33) 06 01 64 21 85</a>
			</div>
		</div>
	</body>
{% endblock %}
